body {
	padding-top: 60px;
}

.container > footer p {
	text-align: right;
	padding-bottom: 25px;
}

.content .span5 {
	margin-left: 10;
	padding-left: 19px;
	border-left: 1px solid #eee;
}

.topbar .btn {
	border: 0;
}

.topbar .avatar {
	float: left;
	margin-right: 10px;
	margin-top: 11px;
}

a.brand:hover {
	text-decoration: none;
}

/* Fix for Elefant admin */
.admin {
	margin-top: 68px;
}

.admin>.topbar {
	top: 32px;
	border-top: 1px solid #000;
}
